* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #151515;
  font-family: "Franklin Gothic Medium", Arial;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  background-color: #31363f;
  padding: 20px;
  margin: 10px;
  border: 1px solid #4b5362;
  border-radius: 10px;
  width: 200px;
  color: violet;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  outline: 1px solid #f3f3f3;
  border-radius: 1rem;
  font-weight: 500px;
  padding: 1rem;
  text-align: center;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ff10f0;
  margin-bottom: 2rem;
  color: #f3f3f3;
  font-weight: 500px;
  padding: 0.5rem;

}

.card blockquote {
  font-size: 14px;
  color: #f3f3f3;
  text-decoration: wavy underline #ddc0db;
  padding: auto;
}

button {
  background-color: transparent;
  width: 100%;
  color: #151515;
  border: none;
  cursor: pointer;
  font-size: 30px;
  align-self: right;
  text-align: right;
}